@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
body{
    font-size: 18px;
}
.container{
display:flex;
font-family: 'Josefin Sans', sans-serif;


}
.logo{
    margin-bottom: 80px;
}
.flex,.flex2{
    display:flex;
    width: 50%;

}
.flex{
    display:flex;
    flex-direction: column;
    padding: 100px;
    padding-top:10px;
}
.were{
    color: hsl(0, 93%, 68%);

    font-weight: 100;
    letter-spacing: 10px;
}
.coming{
font-size:2cm;
letter-spacing: 10px;}
